{% if site.email %}
  <a href="mailto:{{ site.email | encode_email }}" title="email" target="_blank"><i class="fa-regular fa-envelope"></i></a>
{% endif %}

{% if site.linkedin_username %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
{% endif %}

{% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
{% endif %}

{% if site.instagram_id %}
  <a href="https://instagram.com/{{ site.instagram_id }}" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
{% endif %}

{% if site.soundcloud_id %}
  <a href="https://soundcloud.com/{{ site.soundcloud_id }}" title="SoundCloud"><i class="fa-brands fa-soundcloud"></i></a>
{% endif %}

{% if site.spotify_id %}
  <a href="https://open.spotify.com/user/{{ site.spotify_id }}" title="Spotify"><i class="fa-brands fa-spotify"></i></a>
{% endif %}

{% if site.strava_userid %}
  <a href="https://www.strava.com/athletes/{{ site.strava_userid }}" title="Strava"><i class="fa-brands fa-strava" width="32" height="32"></i></a>
{% endif %}





