---
layout: page
---

<div class="post">
  <article>
    {% if site.academics %}
      {% for degree in site.academics %}
        <div class="contentRow">
          <div class="headerColumnL">
            {% if degree.school %}
              <h3>{{ degree.school }}</h3>
            {% endif %}
          </div>

          <div class="headerColumnR">
          </div>

          <div class="headerColumnL">
            {% if degree.location %}
              <h6> {{degree.location}} </h6>
            {% endif %}
          </div>

          <div class="headerColumnR">
          </div>
        </div>
        <hr>

        <div class="contentRow">
          <div class="bodyColumnL">
            <div class="schoollogo float-center">
              {% if degree.logo %}
                {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
                {% include figure.liquid loading="eager" path=degree.logo class='img-fluid z-depth-1 rounded' sizes=sizes alt=degree.logo %}
              {% endif %}
            </div>
          </div>

          <div class="bodyColumnR">
            {% if degree.degree and degree.major %}
              <p>
                <strong>Degree Program: </strong>
                {{degree.degree}} in {{degree.major}}
              </p>
            {% endif %}

            {% if degree.gpa %}
              <p>
                <strong>Grade Point Average: </strong>
                {{degree.gpa}}
              </p>
            {% endif %}

            {% if degree.distinction %}
              <p>
                <strong>Distinction: </strong>
                {{degree.distinction}}
              </p>    
            {% endif %}

            {% if degree.startDate and degree.endDate %}
              <p>
                <strong>Dates: </strong>
                {{degree.startDate}} to {{degree.endDate}}
              </p>
            {% endif %}

            {{ degree.content }}

            {% if degree.coursestaught %}
              <p class="list">
                <strong>Teaching Experience: </strong>
              </p>

              {% assign courses = site.data.coursestaught[degree.coursestaught] %}
              {% if courses %}
                {% for course in courses %}
                  <div class="contentRow">
                    <div class="dataColumnL">
                      {% if course.coursenumber and course.coursename %}
                        {% if course.link %}
                          <strong><a href="{{course.link}}" target="_blank">{{course.coursenumber}}</a></strong>: {{course.coursename}} 
                        {% else %}
                          <strong>{{course.coursenumber}}</strong>: {{course.coursename}} 
                        {% endif %}
                      {% endif %}
                    </div>

                    <div class="dataColumnR" align="right">
                      {% if course.semester %}
                        {{course.semester}}
                      {% endif %}
                    </div> 

                    {% if course.description %}
                      <p style="padding-left: 10px; padding-right: 10px; padding-top: 5px;">
                        {{course.description}}
                      </p>
                    {% endif %}

                  </div>
                {% endfor %}
              {% endif %}
            {% endif %}

            {% if degree.coursestaken %}
              <p class="list">
                <strong>Relevant Coursework: </strong>
              </p>

              {% assign courses = site.data.coursestaken[degree.coursestaken] %}
              {% if courses %}
                {% for course in courses %}
                  <div class="contentRow">
                    <div class="dataColumnL">
                      {% if course.coursenumber and course.coursename %}
                        {% if course.link %}
                          <strong><a href="{{course.link}}" target="_blank">{{course.coursenumber}}</a></strong>: {{course.coursename}} 
                        {% else %}
                          <strong>{{course.coursenumber}}</strong>: {{course.coursename}} 
                        {% endif %}

                        {% if course.institution != degree.school %}
                          (at {{course.institution}})
                        {% endif %}
                      {% endif %}
                    </div>

                    <div class="dataColumnR" align="right">
                      {% if course.semester and page.includedates %}
                        {{course.semester}}
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            {% endif %}

          </div>

        </div>

      {% endfor %}
    {% endif %}
  </article>
</div>