---
layout: page
---

<div class="post">
  <article>
    <p> A copy of my resume can be downloaded 
    <a href="/assets/pdf/pratta_resume.pdf" download="pratta_resume.pdf"><strong>here</strong></a>
    . </p>

    {% for section in site.data.mycv %}
      <h3> {{ section.section }} </h3>
      <hr>

      {% if section.type == "datedlist" %}
        {% for item in section.items %}
          <div class="contentRow">
            <div class="dataColumnL">
              <strong>{{ item.item }}</strong>
              {% if item.role %}
                , {{ item.role }}
              {% endif %}
              <br>
              {% if item.organization %}
                {{ item.organization }}, 
              {% endif %}
              <em> {{ item.location }} </em>
            </div>

            <div class="dataColumnR" align="right">
              {% if item.startdate %}
                {{ item.startdate }} to
              {% endif %}
              {{ item.enddate }} 
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% if section.items %}
          <div class="contentRow">
            {% for item in section.items %}
              <div class="columnThirds">
                {{ item.item }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}

    {% endfor %}
  </article>
</div>