---
layout: page
---

<div class="post">
  <article>
    {% if site.data.projects %}
      {% for project in site.data.projects %}
        <div class="bodyText">
          {% if project.project %}
            <h5> {{ project.project }} </h5>
          {% endif %}
          
          {% if project.purpose %}
            <em> {{ project.purpose }} </em>
            <br>
          {% endif %}
        
          {% if project.abstract %}
            <strong>Abstract: </strong>
            {{ site.data.projectabstract[project.abstract] | markdownify | slice: 0, 100 }}...
            <br>
          {% endif %}

          {% if project.file != "None" %}
            <a href="{{ project.file }}" download="pratta_{{ project.abstract }}.pdf"><strong>PDF Download</strong></a>
            <br>
          {% endif %}

          {% if project.link != "None" %}
            <a href="{{ project.link }}" target="_blank"><strong>Project Link</strong></a>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>