---
layout: page
---

<div class="post">
  <article>
    {% if site.data.projects %}
      {% assign proj = site.data.projects[page.index] %}
        {% if proj.project %}
          <h5> {{ proj.project }} </h5>
        {% endif %}

        {% if proj.purpose %}
          <em> {{ proj.purpose }} </em>
          <br>
        {% endif %}

        {% if proj.abstract %}
          <strong>Abstract: </strong>
          {{ site.data.projectabstract[proj.abstract] }}
          <br>
        {% endif %}

        {% if proj.file != "None" %}
          <a href="/assets/pdf/{{ proj.file }}" download="pratta_{{ proj.abstract }}.pdf"><strong>PDF Download</strong></a>
          <br>
        {% endif %}

        {% if proj.link != "None" %}
          <a href="{{ proj.link }}" target="_blank"><strong>Project Link</strong></a>
        {% endif %}
    {% endif %}
  </article>
</div>