---
layout: page
---

<div class="post">
  <article>
    {% if site.employment %}
      {% for job in site.employment %}
        <div class="contentRow">
          <div class="headerColumnL">
            {% if job.company %}
              <h3> {{ job.company }} </h3>
            {% endif %}
          </div>

          <div class="headerColumnR">
          </div>

          <div class="headerColumnL">
            {% if job.location %}
                <h6> {{job.location}} </h6>
            {% endif %}
          </div>

          <div class="headerColumnR" align="right">
            {% if job.startdate and job.enddate %}
              <h6> {{ job.startdate }} to {{ job.enddate }} </h6>
            {% endif %}
          </div>
        </div>
        <hr>

        <div class="contentRow">
          <div class="bodyColumnL">
            <div class="companylogo float-center">
              {% if job.logo %}
                {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
                {% include figure.liquid loading="eager" path=job.logo class='img-fluid z-depth-1 rounded' sizes=sizes alt=job.logo %}
              {% endif %}
            </div>
          </div>

          <div class="bodyColumnR">
            {% if job.position %}
              <p>
                <strong> Position: </strong>
                {{ job.position }}
              </p>
            {% endif %}

            <p>
              {{ job.content }}
            </p>

            {% if job.honors %}
              <p class="listparagraph">
                <strong style="vertical-align:text-bottom;">Honors: </strong>
              </p>

              {% assign honors = site.data.workhonors[job.honors] %}
              {% if honors %}
                {% for honor in honors %}
                  <div class="contentRow">
                    <div class="dataColumnL">
                      {% if honor.honor %}
                        <strong> {{ honor.honor }} </strong>
                        <br>

                        {% if honor.description %}
                          {{honor.description}}
                        {% endif %}
                      {% endif %}
                    </div>

                    <div class="dataColumnR" align="right">
                      {% if honor.date %}
                        {{honor.date}}
                      {% endif %}
                    </div> 
                  </div>
                {% endfor %}
              {% endif %}
            {% endif %}
          </div>
        </div>

      {% endfor %}
    {% endif %}
  </article>
</div>